.users {
    margin: 20px 0;
}

.userBlock {
    display: grid;
    grid-template-areas:
            "avatar info";
    grid-template-columns: 90px auto;
    grid-template-rows: auto;
    background-color: white;
    align-items: start;
    margin-top: 10px;
    border-radius: 5px;
    padding: 30px 0;

}

.userInfoBlock {
    grid-area: info;
    display: grid;
    height: 60px;
    grid-template-areas:
            "name button"
            "status button";
    grid-template-columns: auto 150px;
    grid-template-rows: 22px auto;
    align-items: center;

}

.title {
    margin: 40px 0 10px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.avatar {
    grid-area: avatar;
    margin-left: 30px;
    height: 60px;
}

.avatar img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.name {
    grid-area: name;
    padding: 0 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    align-self: start;
}

.status {
    grid-area: status;
    display: block;
    padding: 0 0 0 20px;
    width: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
    white-space: pre-wrap;
    align-self: end;
}


.button {
    grid-area: button;
    padding: 0 30px 0 0;
}

.unfollow {
    align-self: center;
    background-color: #8583f7;
    text-align: center;
    padding: 12px 10px;
    width: 120px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

.follow {
    background-color: #edeef0;
    text-align: center;
    padding: 12px 10px;
    width: 120px;
    color: black;
    border: none;
    outline: none;
    border-radius: 5px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

.pages {
    display: grid;
    grid-template-areas: "pageSize pagination";
    grid-template-columns: auto max-content;
    background: white;
    border-radius: 5px;
    margin: 0;
}

.pageSizeBlock {
    grid-area: pageSize;
}

.paginationBlock {
    grid-area: pagination;
    text-align: end;
}

.text {
    font-family: Montserrat;
    display: inline-block;
    padding: 16px 0 15px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
}

.menu {
    padding-left: 8px;
    display: inline-block;
}

.fetching {
    margin-left: 350px;
    padding: 20px 0;
    height: 300px;
    width: 300px;
}

