.users {
    margin: 20px 0;
}

.title {
    margin: 40px 0 10px 0;
    color: var(--black-white-text-color);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}


.status {
    grid-area: status;
    display: block;
    padding: 0 0 0 20px;
    color: var(--707070-EDEEF0-text-color);
    width: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
    white-space: pre-wrap;
    align-self: end;
}

.pages {
    display: grid;
    grid-template-areas: "pageSize pagination";
    grid-template-columns: auto max-content;
    background: var(--wrap-bg-color);
    border-radius: 5px;
    margin: 0;
}

.pageSizeBlock {
    grid-area: pageSize;
}

.paginationBlock {
    grid-area: pagination;
    text-align: end;
}

.text {
    font-family: Montserrat;
    display: inline-block;
    padding: 16px 0 15px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: var(--707070-EDEEF0-text-color);
}

.menu {
    padding-left: 8px;
    display: inline-block;
}

.fetching {
    margin-left: 350px;
    padding: 20px 0;
    height: 300px;
    width: 300px;
}

.noUsersText {
    display: block;
    text-align: center;
    padding: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: var(--707070-EDEEF0-text-color);
}
