.ui.pagination.menu {
    border: 0px;
    box-shadow: none;
    height: 48px;
    border-radius: 5px;
}

.ui.pagination.menu .item {
    outline: none !important;
    color: #707070 !important;
    font-family: Montserrat !important;
    padding:0 11px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 17px !important;
}

.ui.pagination.menu .active.item {
    font-weight: bold !important;
    background: white !important;
    color: black !important;
}
.ui.pagination.menu .item:hover {
    font-weight: bold !important;
    background: white !important;
}

.ui.pagination.menu .item:before {
    height: 0 !important;
}
