.postBlock {

}
.posts {
    margin-top: 10px;
}
.inputBlock {
    background-color: var(--wrap-bg-color);
    border-radius: 0 0 5px 5px;
    display: grid;
    grid-template-columns: 850px auto;
}
.newPost textarea {
    width: 820px;
    margin: 20px 0 20px 30px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    resize: none;
    background: var(--wrap-bg-color);
    border: var(--wrap-bg-color);
    outline: none;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
    cursor: text;
    color: var(--black-white-text-color)
}
.button {
    text-align: center;
    align-self: end;
    margin-bottom: 20px;
}
.button button {
    display: inline-block;
    height: 100%;
    background-color: rgba(0,0,0,0);
    border: 0px solid;
    outline: none;
    cursor: pointer;
}
.button button svg g {
    transition: all 800ms ease;
    cursor: pointer;
}
.button svg:hover g path{
    fill: var(--hover-block);
}
.button svg:active g path{
    fill: var(--active-block);
}
.title {
    margin: 40px 0 10px 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--black-white-text-color)
}
.imagePreview {
    position: relative;
    display: inline-block;
    height: 300px;
    width: max-content;
    background-color: var(--wrap-bg-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
    margin: 0px 0 20px 30px;
}

.imagePreviewButton {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    right: -80px;
    top: -80px;
    transition: 124ms;
    cursor: pointer;
}
.imagePreview:hover .imagePreviewButton {
    right: -40px;
    top: -40px;
}
.imagePreviewButton svg {
    position: absolute;
    left: 16px;
    bottom: 16px;
    fill: white;
}
.imagePreview img {
    height: 100%;
    border-radius: 10px;
}