.header {
    position: fixed;
    width: 1280px;
    height: 60px;
    grid-area: h;
    z-index: 15;
    background-color: rgb(133, 131, 247);
    border-radius: 0px 0px 12px 12px;
    
    border-bottom: 2px solid rgba(34, 60, 80, 0.2);
}
.header img {
    height: 60px;
}