.header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 80px;
    grid-area: h;
    display: block;
    z-index: 15;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
}
.header img {
    margin-left: 370px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}