.nav {
    grid-area: n;
    background-color: rgb(25, 59, 114);
    margin: 10px 10px 0px 0px;
    border-radius: 8px;
}
.item {
    color: #ffffff;
    list-style-type: none;
    margin: 0px;
    width: 100%;
    display: block;
    padding: 8px 0px;
    text-decoration: none;
}
.item a {
    padding-left: 16px;
       }

.item.active {
    color: #000000;
    font-weight: bold;
    background-color: #f1f1f1;

}