.nav {
    grid-area: n;
    height: 270px;
    background-color: rgb(240, 240, 240);
    border-radius: 12px;
}
.item {
    display: block;
    list-style-type: none;
    margin: 0px;
    width: 100%;

}
.item a {
    text-align: center;
    text-decoration: none;
    color: #1d3c96;
    cursor: pointer;
    display: block;
    transition: all 500ms ease;
    padding: 16px 0px;
}

.item a.activeLink {
    font-weight: bold;
    text-align: center;
    background-color: #8583f7;
    color: white;
}
.item a:hover {
    font-weight: bold;
    transition: all 100ms ease;
    background-color: #dbdbf5;
    color: #1d3c96;
}
.item a.activeLink:hover {
    color: #ffffff;
    text-align: center;
    background-color: #8583f7;
}

a.top {
    border-radius: 12px 12px 0 0;
}
a.bottom {
    border-radius: 0 0 12px 12px;
}
