
.nav {
    grid-area: n;
    position: fixed;
    width: 200px;
    height: 280px;
    top: 100px;
    background: #FFFFFF;
    border-radius: 5px;
}
.navList {
    padding: 20px 0;
}
.item {
    display: block;
    padding: 10px 0;
    align-items: center;
}
.item a{
    grid-area: text;
    color: #707070;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    cursor: pointer;
    text-decoration: none;
}
.pageName {
    display: inline-block;
    margin-left: 10px;
}
.item a.activeLink {
    font-weight: 500;
    color: #000000;
}
.item a:hover {
    font-weight: 500;
}

.item a .icon {
    margin-left: 16px;
    height: 15px;
    width: 16px;
    vertical-align: middle;
    margin-bottom: 2px;
    opacity: 60%;
}
.item a:hover .icon{
    opacity: 70%;
}
.item a.activeLink .icon{
    opacity: 100%;
}

.item a .indicator {
    display: inline-block;
    height: 20px;
    width: 4px;
    color: rgba(0,0,0,0);
}
.item a.activeLink .indicator{
    background-color: #9f9df6;
}
/*.item {*/
/*    display: block;*/
/*    list-style-type: none;*/
/*    margin: 0px;*/
/*    width: 100%;*/

/*}*/
/*.item a {*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    color: #1d3c96;*/
/*    cursor: pointer;*/
/*    display: block;*/
/*    transition: all 500ms ease;*/
/*    padding: 16px 0px;*/
/*}*/

/*.item a.activeLink {*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    background-color: #8583f7;*/
/*    color: white;*/
/*}*/
/*.item a:hover {*/
/*    font-weight: bold;*/
/*    transition: all 100ms ease;*/
/*    background-color: #dbdbf5;*/
/*    color: #1d3c96;*/
/*}*/
/*.item a.activeLink:hover {*/
/*    color: #ffffff;*/
/*    text-align: center;*/
/*    background-color: #8583f7;*/
/*}*/

/*a.top {*/
/*    border-radius: 12px 12px 0 0;*/
/*}*/
/*a.bottom {*/
/*    border-radius: 0 0 12px 12px;*/
/*}*/
