.item {
    display: grid;
    grid-template-areas:
    "ava  author menu"
    "ava date ."
    "message message message"
    "like like like";
    grid-template-columns: 78px 10fr;
    grid-template-rows: auto;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin: 10px 0;
    cursor: default;
}

.image {
    grid-area: ava;
    display: inline-block;
    align-items: center;
    padding: 30px 0 0 30px;
}

.image img {
    height: 48px;
    width: 48px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.author {
    grid-area: author;
    padding-top: 30px;
    margin-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.menu {
    padding-top: 30px;
    padding-right: 30px;
}

.menu svg path {
    fill: #C4C4C4;
}

.date {
    grid-area: date;
    margin-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
    align-self: auto;

}

.message {
    grid-area: message;
    display: block;
    padding: 20px 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-bottom: 1px solid #EDEEF0;

}

.likeBlock {
    grid-area: like;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    padding: 10px 30px;
    vertical-align: middle;
}

.likeBlock svg {
    height: 14px;
    width: 16px;
    margin-bottom: -1px;
    margin-right: 8px;
}

.textArea {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 0 8px;
    resize: none;
    outline: none;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
    cursor: text;
    border-radius: 5px;
}

.postEdit button {
    margin: 10px 10px 0 0;
    align-self: center;
    text-align: center;
    padding: 8px 10px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 5px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

.saveButton {background-color: #8583f7;color: white;}
.saveButton:hover {background-color: #6865d7;}
.saveButton:active {background-color: #9f9df6;}

.deleteButton {background-color: #ff2f2f;color: white;}
.deleteButton:hover {background-color: #ef2626;}
.deleteButton:active {background-color: #ff3d3d;}

.cancelButton {background-color: #edeef0;color: black;}
.cancelButton:hover {background-color: #ced1db;}
.cancelButton:active {background-color: #fcfcfc;}

.postPhoto {
    display: block;
    max-width: 100%;
    margin-top: 30px;
    position: relative;
    width: max-content;
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
    overflow: hidden;
}

.imagePreviewButton {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    right: -80px;
    top: -80px;
    transition: 124ms;
    cursor: pointer;
}
.postPhoto:hover .imagePreviewButton {
    right: -40px;
    top: -40px;
}
.imagePreviewButton svg {
    position: absolute;
    left: 16px;
    bottom: 16px;
    fill: white;
}
.postPhoto img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
