.dialogs *{
    box-sizing: border-box;
    transition: all 100ms ease;
}
.dialogs {
    display: grid;
    grid-template-columns: 2fr 14fr;
    padding: 0px 16px;
}
.dialogsItems {
    text-align: center;

}
.messagesItems {

}
.messages {
    margin-left: 32px;
    display: grid;
    grid-template-rows: 9fr 1fr;
}
.messageSendingBlock textarea {
    width: 85%;
    margin-right: 10px;
}

.dialog a {
    grid-area: name;
    text-decoration: none;
    padding: 8px 0px;
    color: #1d3c96;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    margin-left: -25px;
    line-height: 20px;
    border-radius: 12px;
}
.dialog a:hover {
    font-weight: bold;
    color: #1d3c96;
    background-color: #DBDBF5;
    border-radius: 12px;
}
.dialog a.activeLink {
    color: #ffffff;
    font-weight: bold;
    background-color: #8583f7;
    padding-left: 35px;

}
.dialog {
    display: grid;
    grid-template-areas: "ava name";
    grid-template-columns: 35px 120px;
    padding: 6px 0;
    align-items: center;
}

.dialog .image {
    z-index: 10;
    grid-area: ava;
    display: inline-block;
    vertical-align: bottom;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}