.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 8px 16px;
}
.dialogsItems {
text-align: center;
}
.messages {
margin-left: 32px;
}
.message {

}
.dialogsItems a {
    text-decoration: none;
    padding: 8px 24px;
    color: #1d3c96;
    cursor: pointer;
    display: block;

}
.dialogsItems a:hover {
    font-weight: bold;
}
.dialogsItems a.activeLink {
    color: #ffffff;
    border-radius: 12px;
    font-weight: bold;
    background-color: #8583f7;
}